<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Carte des zones tendues ABC - Pinel - PTZ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description"
        content="Carte de France des zones tendues par commune, pour l'investissement locatif Pinel et PTZ. Zones A bis, A, B1, B2 et C">
  <meta name="google-site-verification" content="OGRhhKNogMg9cUvNmX_cU4Ejt04oORs2LDK4L_m9Hmo" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"
          integrity="sha512-bHeT+z+n8rh9CKrSrbyfbINxu7gsBmSHlDCb3gUF1BjmjDzKhoKspyB71k0CIRBSjE5IVQiMMVBgCWjF60qsvA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/vue@3.2.40/dist/vue.global.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
  <link href="map.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div id="circle-loader" v-if="showLoader"></div>
  <div id='map'></div>
  <div class="map-overlay" id="top-left-container">
    <div id='about-box' v-if="showAboutBox">
      <button class="close-btn" title="Fermer" @click="showAboutBox = false">&times;</button>
      <h1>Zones tendues ABC par commune</h1>
      <p>
        Zonage de classification des communes en fonction du déséquilibre entre l'offre et la demande de logement.
        <strong>Le zonage ABC est utilisé pour les barèmes locatifs (notament dispositifs Pinel, Denormandie, PTZ et
          logements PLS)</strong>
      </p>
      <p>
        Sources de données
        <a href="https://www.data.gouv.fr/fr/datasets/liste-des-zones-ptz-et-pinel-1/" target="_blank" rel="noreferrer">data.gouv.fr</a>
        et
        <a href="https://public.opendatasoft.com/explore/dataset/georef-france-commune">opendatasoft</a>.
      </p>
      <p>
        <a target="_blank" rel="noreferrer"
           href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000038970859/">Art. D304-1</a>
        code de la construction et de l'habitation.
        Plus d'infos
        <a href="https://www.ecologie.gouv.fr/zonage-b-c" target="_blank"
           rel="noreferrer">Ministère de la transition écologique</a>.
      </p>
      <p>
        Visualisation par François BURDY &bull;
        <a href="https://github.com/francoisburdy/zones-abc-pinel-map">Github</a>
        &bull; Licence Libre.
      </p>
    </div>
    <div id="search-box">
      <div class="search-input-container">
        <div class="loupe">&#128269;</div>
        <input class="search-input"
               aria-label="Search"
               v-model="searchQuery"
               @input="setTyping()"
               @focusin="setTyping()"
               @keyup.esc="clearSearch()"
               type="text"
               placeholder="Commune, code postal...">
        <button v-show="searchQuery.length" @click="clearSearch()"
                type="button" class="clear-btn" title="Effacer">
          &times;
        </button>
      </div>
      <div v-if="hasResults && searchResults" class="search-result-container">
        <div v-for="(feature, index) in searchResults">
          <div @click="chosenAddress = feature; addressChange()"
               @keyup.enter="chosenAddress = feature; addressChange()"
               @keyup.space="chosenAddress = feature; addressChange()"
               tabindex="0"
               title="Choisir cette commune"
               class="search-result">
            <div><strong>{{ feature.properties.label }}</strong></div>
            <div>{{ feature.properties.context }}</div>
          </div>
        </div>
      </div>
      <template v-if="!isTyping && !isLoading && !hasResults && searchQuery">
        <div class="search-result">
          <div>Aucun résultat</div>
        </div>
      </template>
    </div>

  </div>

  <div class='map-overlay' id='legend'></div>
</div>
<script src="app.js"></script>
</body>
</html>
